<%- include('layouts/header') %>


    <div class="resultsContainer">
        <!-- Content goes here -->
    </div>

    <a href="/messages/new">
        <i class="far fa-plus-square"></i>
    </a>
    <%- include('layouts/footer') %>
    <script src="/js/inboxPage.js"></script>

