<%- include('layouts/main-layout') %>


    <div class="resultsContainer">
        <!-- Content goes here -->
    </div>
    <button id="markNotificationsAsRead">
        <i class="fa fa-check-double"></i>
    </button>
    <%- include('layouts/footer') %>
    <script src="/js/notificationsPage.js"></script>
